<div class="container w-100">
    <div class="row w-100 mt-5">
        <div class="col-md-12">
            <h1 class="text-monospace text-center">Bem vindos!</h1>
        </div>
    </div>


    <div class="row w-100 mt-4 mb-4">
        <div class="col-md-12">
            <p class="text-justify text-monospace">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel culpa fuga eum voluptatum quaerat deserunt
                fugit, perferendis blanditiis voluptatem, magnam maxime asperiores quibusdam assumenda sunt error iure?
                Soluta, architecto harum!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea repellat quo voluptates cum nihil, excepturi
                necessitatibus repellendus, reiciendis error facere minus veniam eos incidunt delectus nobis vel
                blanditiis doloremque deleniti.
            </p>
        </div>
    </div>
</div>
<div class="parallax">
    
</div>
<div class="row mt-5 mb-5">
    <div class="col-md-12 w-100 d-flex justify-content-center">
        <button class="btn btn-outline-dark text-uppercase font-weight-bold" routerLink='/feed'>Ver o feed</button>

    </div>
</div>
