<div class="card border-0" style="width: 18rem;">
    <div class="d-flex justify-content-center">
    <img class="card-img-top rounded-circle w-75" src="./assets/img/Sem título.png" alt="foto de perfil">
</div>

    <div class="card-body">
      <h5 class="card-title text-center text-monospace">Cleiton Andrade</h5>
      <p class="card-text text-center text-monospace">Aluno de desenvolvimento fullstack na Generation Brasil</p>
      <a href="" class="btn btn-outline-info d-flex justify-content-center mb-3" target="_blank">LinkedIN</a>
      <a href="" class="btn btn-outline-dark d-flex justify-content-center" target="_blank">GitHub</a>
    </div>
  </div>